{% extends "base.html" %}

{% block content %}
<div class="container">
    <header>
        <h1>All Models</h1>
    </header>
    <section>
        <div class="list-group">
            {% for model in models %}
            <div class="list-group-item" >
                
                    <dl>
                        <dt>
                            <a class="list-group-item-heading" style="font-size: 150%" aria-describedby="fileHelp" href="{{ url_for('webmodels.download_file', model_id=model.id) }}">{{ model.name }}</a>
                        </dt>
                        <dd>
                            <small id="fileHelp" class="form-text text-muted">User: {{ model.username }}, Date/Time: {{ model.time_created |strftime }}</small>
                        </dd>
                        <a class="btn btn-danger btn-sm mt-0" href="{{ url_for('webmodels_all.delete_model', model_id=model.id) }}">
                            Permanently Delete Model
                        </a>
                    </dl>

            </div>
            {% endfor %}
        </div>


    </section>
</div>
{% endblock %}