[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "==0.16.1"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-marshmallow = "==0.11.0"
flask-migrate = "*"
marshmallow-sqlalchemy = "*"
#uWSGI = "*"
gunicorn = "*"
python-dotenv = "*"
Jinja2 = "*"
passlib = "*"
pycrypto = "*"
#edlib = "*"
#flask-uploads = "*"
flask-uploads = {git = "https://github.com/maxcountryman/flask-uploads.git",ref = "master"}
flask-testing = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"


[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
